################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestaurantSchoolProject/.vs/RestaurantSchoolProject/v15/Server/sqlite3
/RestaurantSchoolProject/RestaurantSchoolProject/appsettings.json
